<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>This is a test"</title>
    <link href="css/index.css" rel="stylesheet">

    <!--引入 element-ui 的样式，-->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- vue.js 开发环境版本，包含了有帮助的命令行警告 -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script type="text/javascript" src="./js/FileSaver.js"></script>
    <script src="https://unpkg.zhimg.com/axios/dist/axios.min.js"></script>

    <!-- 引入element 的组件库-->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
</head>
<body>

<div class="main-body" id="main-body">

    <div id="split-part">
        <h1>文书部分</h1>
        <div>
            <h3>手动输入文书</h3>
            <el-input type="textarea" :autosize="{ minRows: 10, maxRows: 20}" placeholder="请输入文书内容" name="text"
                      id="originalText" class="form-control" v-model="originalText">
            </el-input>

        </div>
        <div id="uploadFile">
            <h3>上传文书文件</h3>
            <el-upload
                    :limit="1"
                    drag
                    id="wenshuFile"
                    name="wenshuFile"
                    action="/upload"
                    accept="text/txt"
                    :on-success="this.uploadSuccess"
            >
                <i class="el-icon-upload"></i>
                <div class="el-upload__text">将文件拖到此处，或<em>点击上传</em></div>
                <div slot="tip" class="el-upload__tip">只能上传txt文件，且只能上传一个</div>
            </el-upload>
            <el-button type="primary" :disabled="!hasOriginalText" id="splitConfirm"
                       @click="splitConfirm">分词
            </el-button>
        </div>
    </div>
    <div id="mark-part">
        <h1> 标记部分 </h1>

        <el-tabs tab-position="top" type="border-card">
            <el-tab-pane label="姓名">
                <!--选择姓名的单选框-->
                <div id="select-name-div" class="select-div">
                    <h5>选择人名</h5>
                    <el-select filterable v-model="selected.Criminals">
                        <el-option v-for="person in toBeSelected.person" :value="person">
                            {{ person }}
                        </el-option>
                    </el-select>
                    <div id="manual-add-name" class="manual-add">
                        <h5>手动输入人名</h5>
                        <el-input id="toBeAddedName" placeholder="请输入人名" v-model="toBeAddedName">
                        </el-input>
                    </div>
                    <el-button type="primary" id="addNameConfirm" @click="addName">
                        确定添加
                    </el-button>
                </div>
            </el-tab-pane>
            <el-tab-pane label="性别">

                <!-- 选择性别 -->
                <div id="select-gender-div" class="select-div">
                    <h5>选择性别</h5>

                    <el-radio id="select-gender-man"
                              label="男" v-model="selected.Gender">男
                    </el-radio>
                    <el-radio id="select-gender-woman"
                              label="女" v-model="selected.Gender">女
                    </el-radio>
                    <el-radio id="select-gender-unknown"
                              label="未知" v-model="selected.Gender">未知
                    </el-radio>
                </div>

            </el-tab-pane>
            <el-tab-pane label="民族">

                <!-- 选择民族 -->
                <div id="select-ethnic-div" class="select-div">
                    <h5>选择民族</h5>
                    <el-select filterable v-model="selected.Ethnicity">
                        <el-option v-for="ethnicity in ethnicity" :value="ethnicity">
                            {{ ethnicity }}
                        </el-option>
                    </el-select>
                </div>

            </el-tab-pane>
            <el-tab-pane label="出生地">


                <!-- 选择出生地 -->
                <div id="select-born-place-div" class="select-div">
                    <h5>选择出生地</h5>
                    <el-select filterable v-model="selected.Birthplace">
                        <el-option v-for="loc in toBeSelected.loc" :value="loc">
                            {{ loc }}
                        </el-option>
                    </el-select>
                    <div id="manual-add-loc" class="manual-add">
                        <h5>手动输入地名</h5>
                        <el-input type="text" id="toBeAddedLoc" v-model="toBeAddedLoc" placeholder="请输入地名"></el-input>
                    </div>
                    <el-button type="primary" id="addLocConfirm" @click="addLoc">
                        确定添加
                    </el-button>
                </div>

            </el-tab-pane>
            <el-tab-pane label="案由">


                <!-- 选择案由 -->
                <div id="select-accusation-div" class="select-div">
                    <h5>选择案由</h5>
                    <el-select multiple filterable v-model="selected.Accusation">
                        <el-option v-for="accusation in toBeSelected.accusation" :value="accusation">
                            {{ accusation }}
                        </el-option>
                    </el-select>

                    <div id="manual-add-accusation" class="manual-add">
                        <h5>手动输入案由</h5>
                        <el-input type="text" id="toBeAddedAccusation" placeholder="请输入案由"
                                  v-model="toBeAddedAccusation"></el-input>
                    </div>
                    <el-button type="primary" id="addAccusationConfirm" @click="addAccusation">
                        确定添加
                    </el-button>
                </div>
            </el-tab-pane>
            <el-tab-pane label="法院">

                <!-- 选择法院 -->
                <div id="select-court-div" class="select-div">
                    <h5>选择法院</h5>
                    <el-select multiple v-model="selected.Courts">
                        <el-option v-for="court in toBeSelected.court" v-bind:value="court">
                            {{ court }}
                        </el-option>
                    </el-select>
                    <div id="manual-add-court" class="manual-add">
                        <h5>手动输入法院</h5>
                        <el-input type="text" id="toBeAddedCourt" placeholder="请输入法院"
                                  v-model="toBeAddedCourt"></el-input>
                    </div>
                    <el-button type="primary" id="addCourtConfirm" @click="addCourt">
                        确定添加
                    </el-button>
                </div>
            </el-tab-pane>

        </el-tabs>


    </div>
    <h3>导出</h3>
    <el-button :disabled="!hasOriginalText" type="primary" @click="downloadtxt">导出案件文本</el-button>
    <el-button :disabled="!hasJsonText" type="primary" @click="downloadjson">导出标注</el-button>
</div>

<script>
    $(function () {
        vm.init();
    })
    var url = "/split";
    var vm = new Vue({
        el: "#main-body",
        data: {
            hasOriginalText: false,
            hasJsonText: false,
            originalText: '',
            splitText: [],
            toBeAddedName: '',
            toBeAddedLoc: '',
            toBeAddedAccusation: '',
            toBeAddedCourt: '',
            toBeSelected: {
                date: [],
                loc: [],
                org: [],
                court: [],
                person: [],
                accusation: [],
                verb: [],
                adj: [],
            },
            selected: {
                Criminals: '',
                Gender: '',
                Ethnicity: '',
                Birthplace: '',
                Accusation: [],
                Courts: [],
            },
            ethnicity: [
                "未知", "汉族", "壮族", "满族", "回族", "苗族", "维吾尔族", "土家族", "彝族", "蒙古族", "藏族", "布依族", "侗族", "瑶族", "朝鲜族", "白族", "哈尼族", "哈萨克族", "黎族", "傣族", "畲族", "傈僳族", "仡佬族", "东乡族", "高山族", "拉祜族", "水族", "佤族", "纳西族", "羌族", "土族", "仫佬族", "锡伯族", "柯尔克孜族", "达斡尔族", "景颇族", "毛南族", "撒拉族", "布朗族", "塔吉克族", "阿昌族", "普米族", "鄂温克族", "怒族", "京族", "基诺族", "德昂族", "保安族", "俄罗斯族", "裕固族", "乌孜别克族", "门巴族", "鄂伦春族", "独龙族", "塔塔尔族", "赫哲族", "珞巴族"
            ],
        },
        watch: {
            originalText: function () {
               vm.hasOriginalText = (vm.originalText != null && vm.originalText !== "");
            },
            'selected.Criminals': function() {
                vm.hasJsonText = (vm.selected.Criminals != null && vm.selected.Criminals !== "");
            }
        },
        methods: {
            init: function () {
                for (var i = 0; i < Object.values(vm.toBeSelected).length; i++) {
                    Object.values(vm.toBeSelected)[i].push("未知");
                }
            },
            splitConfirm: function () {
               for (var i = 0; i < Object.values(vm.toBeSelected).length; i++) {
                   Object.values(vm.toBeSelected)[i].splice(1, Object.values(vm.toBeSelected)[i].length);
               }
                var thisVm = this;
                this.hasJsonText = false;
                var data = {anythingHere: thisVm.originalText};
                axios.post(url, data).then(function (response) {
                    thisVm.splitText = response.data;
                    // 在原有 array 上增加
                    thisVm.toBeSelected.date.push(...thisVm.splitText.date);
                    thisVm.toBeSelected.loc.push(...thisVm.splitText.loc);
                    thisVm.toBeSelected.org.push(...thisVm.splitText.org);
                    thisVm.toBeSelected.court.push(...thisVm.splitText.court);
                    thisVm.toBeSelected.person.push(...thisVm.splitText.person);
                    thisVm.toBeSelected.verb.push(...thisVm.splitText.verb);
                    thisVm.toBeSelected.adj.push(...thisVm.splitText.adj);
                    thisVm.toBeSelected.accusation.push(...thisVm.splitText.accusation);
                })
                this.$message('上传文书成功！');
            },
            uploadSuccess(res) {
                this.originalText = res;
            },
            addName: function () {
                this.toBeSelected.person.push(this.toBeAddedName);
            },
            addLoc: function () {
                this.toBeSelected.loc.push(this.toBeAddedLoc);
            },
            addAccusation: function () {
                this.toBeSelected.accusation.push(this.toBeAddedAccusation);
            },
            addCourt: function () {
                this.toBeSelected.court.push($("#toBeAddedCourt").val());
            },
            downloadtxt: function () {
                var text = this.originalText;
                let str = new Blob([text], { type: 'text/plain;charset=utf-8' });
                saveAs(str, `案件文本.txt`);
            },
            downloadjson: function () {
                var text = this.selected;
                let str = new Blob([JSON.stringify(text)], { type: 'text/plain;charset=utf-8' });
                saveAs(str, `标注.json`);
            }

        }
    })


</script>


</body>
</html>
